{% include 'header.html.twig' with {page_title: '- Abou'} %}
<div class="container mt-5">
    <div class="text-center">
        {% if user.is_admin %}
             <a href="edit">Edit About Page</a>
        {% endif %}
        <h1 class="mb-4 text-primary">Welcome to the Investment Club Website!</h1>
        {% if contents is not empty %}
            {% for content in contents %}
                <div class="content-item mb-4">
                    <h3>{{ content.title }}</h3>
                    <p>{{ content.description }}</p>
                    
                    {% if content.type == 'photo' %}
                        <img src="{{ content.url }}" alt="{{ content.title }}" class="img-fluid" />
                    {% elseif content.type == 'video' %}
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ content.url|replace({'https://www.youtube.com/watch?v=': ''}) }}" frameborder="0" allowfullscreen></iframe>
                    {% elseif content.type == 'text' %}
                        <p>{{ content.url }}</p>
                    {% endif %}
                    
                    {% if user.is_admin %}
                        <form action="deleteContent.php" method="post" class="mt-2">
                            <input type="hidden" name="content_id" value="{{ content.content_id }}">
                            <button type="submit">Delete Content</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>No content available.</p>
        {% endif %}
    </div>
</div>

{% include 'footer.html.twig' %}
