{% include 'header.html.twig' %}
{% include 'header.html.twig' with {page_title: block('- Presentation Page')} %}

    <h1>{% block header %} Add Presentation {% endblock %}</h1>
    <div class="form-container">
    <form action="addPresentation.php" method="post">
        <h3>{% block subheader2 %} Upload Presentation {% endblock %}</h3>
        <label for="title">Presentation Title:</label>
        <input type="text" id="title" name="title" required>
        <br><br>

        <label for="url">Presentation URL:</label>
        <input type="url" id="url" name="url" required>
        <br><br>

        <h3>{% block subheader %} Stock Proposals {% endblock %}</h3>

            <label for="stock<?= $i ?>_symbol">Stock Symbol:</label>
            <input type="text" id="stock<?= $i ?>_symbol" name="stocks[<?= $i ?>][symbol]" placeholder="AAPL">
            <br>
            <label for="stock<?= $i ?>_name">Stock Name:</label>
            <input type="text" id="stock<?= $i ?>_name" name="stocks[<?= $i ?>][name]" placeholder="Apple Inc.">
            <br>
            <label for="stock<?= $i ?>_action">Action:</label>
            <select id="stock<?= $i ?>_action" name="stocks[<?= $i ?>][action]">
                <option value="">Select Action</option>
                <option value="add">Add to Portfolio</option>
                <option value="remove">Remove from Portfolio</option>
                <option value="increase">Increase Holdings</option>
                <option value="decrease">Decrease Holdings</option>
            </select>
            <br>
            <label for="stock<?= $i ?>_quantity">Quantity:</label>
            <input type="number" id="stock<?= $i ?>_quantity" name="stocks[<?= $i ?>][quantity]" min="1">
            
            <br><br>

        <input type="submit" value="Upload Presentation">
    </form>
   </div>
    <br>
    <h1>All Presentations</h1>
    <div class="presentations-container">
        {% if presentations is not empty %}
            {% for presentation in presentations %}
                <div class="presentation-box">
                {% if user.is_admin %}
                <form action="deletePresentation.php" method="post" >
                <input type="hidden" name="presentation_id" value="{{ presentation.presentation_id }}">
                <button type="submit" class="delete-button">Delete</button>
                </form>
                {% endif %}
                    <h3>{{ presentation.title }}</h3>
                    <p><strong>Date:</strong> {{ presentation.date }}</p>
                    <p><strong>Proposed By:</strong> {{ presentation.username }}</p>
                    <p><a href="{{ presentation.file_path }}" target="_blank">View Presentation</a></p>
                    <h4>Stock Proposals:</h4>
                    <ul>
                        {% if presentation.stock_proposals is not empty %}
                            {% for proposal in presentation.stock_proposals %}
                                    Symbol: {{proposal.stock_symbol}}<br>
                                    Name: {{proposal.stock_name}}<br>
                                    Action: 
                                    {% if proposal.action == 'add' %}
                                        Add to Portfolio
                                    {% elseif proposal.action == 'remove' %}
                                        Remove from Portfolio
                                    {% elseif proposal.action == 'increase' %}
                                        Increase Holdings
                                    {% elseif proposal.action == 'decrease' %}
                                        Decrease Holdings
                                    {% else %}
                                        {{proposal.action}}
                                    {% endif %}<br>
                                    {% if proposal.quantity is not none %}
                                        Quantity: {{ proposal.quantity }}<br>
                                    {% endif %}
                            {% endfor %}
                        {% else %}
                            <p>No stock proposals<p>
                        {% endif %}
                    </ul>

                    
                    <h4>Votes:</h4>
                    <div class="vote-bar-container">
                        <div class="vote-bar-yes" style="width: {{ presentation.percentYes }}%;"></div>
                        <div class="vote-bar-no" style="width: {{ presentation.percentNo }}%;"></div>
                    </div>
                    <p>Yes: {{ presentation.numYes }} | No: {{ presentation.numNo }}</p>
          
                    <form action="voteForm.php" method="post">
                        <input type="hidden" name="presentation_id" value="{{ presentation.presentation_id }}">
                        <button type="submit" name="vote" value="1">Vote Yes</button>
                        <button type="submit" name="vote" value="0">Vote No</button>
                    </form>
                </div>
                {% endfor %}
            {% else %}
               <p>No presentations found.</p>
            {% endif %}
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
{% include 'footer.html.twig' %}