{% include 'header.html.twig' %}

    <div class="content">
        <header>
            <h1>{% block header %}Transaction History{% endblock %}</h1>
        </header>

        <div class="container">
            {% block content %}
            <table class="transactions-table">
                <tr>
                    <th>Stock</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Price per Share</th>
                    <th>Date</th>
                </tr>
                {% for transaction in transactions %}
                <tr>
                    <td>
                        <a href="/controller.php?action=stock&symbol={{ transaction.stock_symbol }}" class="stock-link">
                            {{ transaction.stock_name }}
                        </a>
                    </td>
                    <td>{{ transaction.transaction_type }}</td>
                    <td>{{ transaction.quantity }}</td>
                    <td>${{ transaction.price_per_share | number_format(2) }}</td>
                    <td>{{ transaction.buy_sell_date }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endblock %}
 {% include 'footer.html.twig' %}