{% include 'header.html.twig' %}
{% include 'header.html.twig' with {page_title: block('- Transaction Page')} %}

    <div class="content">

        <div class="container">
            {% block content %}
            <table class="transactions-table">
                <tr>
                    <th>Stock</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Price per Share</th>
                    <th>Date</th>
                </tr>
                {% for transaction in transactions %}
                <tr>
                    <td>
                        <a href="Stock/{{ transaction.stock_symbol }}" class="stock-link">
                            {{ transaction.stock_name }}
                        </a>
                    </td>
                    <td>{{ transaction.transaction_type }}</td>
                    <td>{{ transaction.quantity }}</td>
                    <td>${{ transaction.price_per_share | number_format(2) }}</td>
                    <td>{{ transaction.buy_sell_date }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endblock %}
 {% include 'footer.html.twig' %}